@tic.provideCss 'example.client.layout.style';

.layout {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: absolute;
}
.left {
	float: left;
	width: 33%;
	height: 100%;
	overflow-y: scroll;
}

.center {
	float: left;
	width: 33%;
	height: 100%;
	overflow-y: scroll;
}

.right {
	float: left;
	width: 33%;
	height: 100%;
	overflow-y: scroll;
}
