{% autoescape off %}
<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript"
                djConfig="useXDomain: true, modulePaths: {% templatetag openbrace %}{% for m in modules %}'{{ m }}':'/{{ m }}'{% if not forloop.last %},{% endif %}{% endfor %}{% templatetag closebrace %}"
        src="http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/dojo.xd.js"></script>
        <title>Tic Framework</title>
        <meta http-equiv="Content-Type" content="text/html; charset=MacRoman">
        <style type="text/css">
            @import "http://ajax.googleapis.com/ajax/libs/dojo/1.5/dojo/resources/dojo.css";
            @import "http://ajax.googleapis.com/ajax/libs/dojo/1.5/dijit/themes/tundra/tundra.css";
            {% block cssImports %}{% endblock %}
        </style>
        <script type="text/javascript">
            dojo.require("tic.web.client.bootstrap");
        </script>
        {% block js %}{% endblock %}
    </head>
    <body class="tundra">
        {% block body %}{% endblock %}
    </body>
</html>
{% endautoescape %}