{% autoescape off %}
<!DOCTYPE html>
<html>
    <head>
        <title>Tic Framework</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {% for dep in data.deps %}
        <script type="text/javascript" src="{{dep}}"></script>{% endfor %}
    </head>
    <body>
        <script type="text/javascript">
            if({{ data.entrypoint }}.onModuleLoad){
                {{ data.entrypoint }}.onModuleLoad();
            }else{
                document.write('unable to find method onModuleLoad in {{ data.entrypoint }}');
            }
        </script>
    </body>
</html>
{% endautoescape %}