@tic.provideCss 'example.client.file.style';
@-webkit-keyframes dropHere {
0% { background: #CCFFCC; }
50% { background: #FBFBFB; }
100% { background: #CCFFCC; }
}

.component {
/*	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	position: absolute;*/
}
.root {
	background: #FBFBFB;
	height: 100px;
	border: dashed #bbb;
	border-radius: 5px;
	border-width: 1px;
	text-align: center;
	line-height: 100px;
	font-family: arial;
	font-size: 29px;
	color: #bbb;
}
.root_animate {
	-webkit-animation-name: 'dropHere';
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count: 2;
}
.root_hover {
	border: solid #5DFC0A;
	border-width: 3px;
	color: #88AA88;
	background: #CCFFCC;
}
.images {
	list-style: none;
	padding: 10px;
}
.image {
	text-align: center;
	border: solid 1px #ccc;
	-webkit-box-shadow: 2px 2px 5px #ccc;
	margin-bottom: 10px;
	padding: 5px;
	background: #eeeeee;
	-webkit-border-radius: 5px;
}