{namespace examples.client.file.template}

/**
 * @param id
 * @param images
 */
{template .root}
  <div id="{$id}" class="root">
  	Drop Files Here...
  </div>
  <div id="{$images}" class="images">
  </div>
{/template}
